<h1>New Post</h1>
<div class="row">
	<aside class="span3">
		<section>
			<%= render 'shared/user_info' %>
		</section>
	</aside>
	<div class="span6">
		<%= render 'shared/post_form' %>
	</div>
</div>